* {
    font-family: Arial, Helvetica, sans-serif;   
    margin: 0;
}

h1, p, h2, h3 {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #414141;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: #181818;
  box-shadow: 0px 1px 20px 0.1px #FF0000;
  position: relative;
}

header .container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  width: 1500px; 
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.container-logo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
}

#sobre-time {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 100px);
  background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("../img/neo-quimica.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 15px 1px black;
}

.container-sobre-time-texto {
  display: flex;
  align-items: center;
  width: 1500px;
  padding: 24px;
  gap: 36px;
}

.titulo-sobre-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 68px;
  text-transform: uppercase;
  width: 50%;
}

.titulo-sobre-time h2 {
    color: #a3a3a3;
}

.texto-sobre-time {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  gap: 56px;
  width: 50%;
}

/*---------section2---------*/
.container-img-cor-tabela-jogos {
  width: 100%;
}

.img-cor-tabela-jogos {
  width: 80px;
  object-fit: contain;
  padding: 16px;
  left: 0;
  top: -160px;
  position: absolute;
}

#tabela-jogos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle 600px at center, #3E0703, #000000);
  box-shadow: 1px 1px 15px 1px black;
}

.titulo-tabela-jogos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.titulo-tabela-jogos p {
  font-size: 42px;
  color: white;
  text-transform: uppercase;
}

.container-tabela-jogos {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  padding: 16px;

}

table {
  background: #8C1007;
  border-radius: 12px;
  overflow: hidden;
  border-spacing: 0;
}

.titulo-tabela {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
}

th, td {
  padding: 16px;
}

th {
  text-align: start;
}

tr {
  padding: 0px 20px
}

td {
  width: 300px;
  text-align: start;
  align-items: center;
  font-size: 22px;
}

.img-times-tabela {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.bg-claro {
  background: #a3a3a3
}

.bg-escuro {
  background: #DDDAD0;
}

a {
  text-decoration: none;
}

.local {
  position: relative;
}



.local #link {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 18px;
  color: #3E0703;
  padding: 6px;
  transition: 0.3s;
}

.local #link:hover {
  transition: 0.3s;
  color: #FF0000;
}

/*-----section3------*/
#ultimas-noticias {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.container-ultimas-noticias {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  max-width: 1500px;
  flex-wrap: wrap;
  margin: auto;
  padding: 16px;

}

.titulo-ultimas-noticias {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  text-transform: uppercase;
  background: #3E0703;
  width: 100%;
  height: 100px;
  box-shadow: 1px 1px 10px 5px rgb(30,30,30);
}

.card-ultimas-noticias {
  display: flex;
  flex-direction: column;
  width: 350px;
  background: #181818;
  gap: 12px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 1px 1px 10px 5px rgb(30, 30, 30);
}

.card-ultimas-noticias img {
  width: 100%;
  object-fit: contain;
}

.card-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 12px;
  padding: 12px;
}

.card-titulo {
  font-weight: bold;
  font-size: 24px;
  color: #a3a3a3
}

.card-descricao {
  font-size: 18px;
}

.card-link-noticia {
  padding: 24px 0px;
}

.card-link-noticia a {
  transition: 0.3s;
}

.card-link-noticia a:hover {
  color:#8C1007;
  background: #DDDAD0;
  transition: 0.3s
}

.card-link-noticia a{
  padding: 16px 24px;
  background: #8C1007;
  color: white;
  border-radius: 8px;
}

/*----footer----*/
footer {
  display: flex;
  width: 100%;
  height: 200px;
  background: #181818;
  box-shadow: 1px 0px 5px 3px rgb(20,20,20);
}

.container-footer {
  margin: auto;
  max-width: 1500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  flex-wrap: wrap;
}

.container-items-footer {
  padding: 16px;
}

.titulo-footer p{
  font-size: 24px;
  color: #414141;
  margin-bottom: 12px;
}

@media (max-width: 1390px) {
  .titulo-sobre-time {
    font-size: 50px;
  }

  .texto-sobre-time {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .container-sobre-time-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .titulo-sobre-time {
    width: 100%;
    text-align: center;
    /* font-size: 40px; */
  }

  .texto-sobre-time {
    /* font-size: 14px; */
    width: 100%;
    text-align: center;
  }
}