* {
    font-family: Arial, Helvetica, sans-serif;   
    margin: 0;
}

h1, p, h2, h3 {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #414141;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: #181818;
  box-shadow: 0px 1px 20px 0.1px #FF0000;
  position: relative;
}

header .container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  width: 1500px; 
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.container-logo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
}

#sobre-time {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 100px);
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
  url("/Tabela-Jogos/img/neo-quimica.jpg");
  background-size: cover;
  box-shadow: 1px 1px 15px 1px black;
}

.container-sobre-time-texto {
  display: flex;
  align-items: center;
  width: 1500px;
  padding: 24px;
  gap: 36px;
}

.titulo-sobre-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 68px;
  text-transform: uppercase;
  width: 50%;
}

.titulo-sobre-time h2 {
    color: #a3a3a3;
}

.texto-sobre-time {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  gap: 56px;
  width: 50%;
}

/*---------section2---------*/
#tabela-jogos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0.25turn, #000000, #8C1007, #000000);
}

.titulo-tabela-jogos p{
  font-size: 42px;
  color: white;
  text-transform: uppercase;
}

.container-tabela-jogos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 1500px;
  /* padding: 24px; */
  /* margin-top: 68px; */
}

.img-times-tabela {
  width: 100px;
  height: 100px;
  object-fit: contain;
}


.item2 {
  width: 50%;
}

.item2 .img-item2 {
  width: 100%;
  height: 100%
}

.titulo-conteudo2 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;  
}

.conteudo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 1000px;
  margin: 48px;
}

/*tabela*/
.conteudo2 {
  width: 100%;
}

.conteudo2 .titulo-conteudo2 {
  font-size: 26px;
}

.container-tabela {
  width: 80%;
}

table {
  background: #252525;
  width: 100%;
}

table, td {
    border: 1px solid black;
    font-size: 22px;
    text-align: center;
    color: #909090;
}

table .table-title td {
  font-size: 22px;
  padding: 12px;
  color: white;
}

table tr td a {
  text-decoration: none;
  color: #909090
}

.local {
  position: relative;
}

.local #link {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 18px;
  color: white;
  padding: 6px
}

table #img-time {
    width: 100px;
}

/* img {
    width: 100%;
    height: 100%;
} */